@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Hairline.woff2");
  font-weight: 50;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Thin.woff2");
  font-weight: 100;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-UltraLight.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-DemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-ExtraBold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Black.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-ExtraBlack.woff2");
  font-weight: 910;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Heavy.woff2");
  font-weight: 950;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-fat.woff2");
  font-weight: 990;
}
body {
  font-family: danaweb !important;
  direction: rtl;
  margin: 0;
  overflow-x: hidden !important;
  width: 100% !important;
  font-size: 15px;
  padding: 0;
}

* {
  box-sizing: border-box;
  direction: rtl;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: danaweb !important;
}

h1 {
  font-size: 26px;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 23px;
  }
}

h2 {
  font-size: 23px;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: 16px;
  }
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  color: #0a3152;
}

.lowMargined {
  margin: 7px 0;
}

.mediumMargined {
  margin: 15px 0;
}

.highMargined {
  margin: 30px 0;
}

.extraHighMargined {
  margin: 60px 0;
}

.lowPadding {
  padding: 7px;
}

.mediumPadding {
  padding: 15px;
}

.highPadding {
  padding: 30px;
}

.sectionPadding {
  padding: 50px 0;
}

.centeredText {
  text-align: center;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.generalHeading h1, .generalHeading h2, .generalHeading h3, .generalHeading h4, .generalHeading h5, .generalHeading h6 {
  margin: 0;
  color: #0a3152;
}
.generalHeading span {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  display: block;
  color: #828282;
}
@media screen and (max-width: 480px) {
  .generalHeading span {
    font-size: 13px;
  }
}

.bigHeading h1, .bigHeading h2, .bigHeading h3, .bigHeading h4, .bigHeading h5, .bigHeading h6 {
  font-size: 35px;
}
.bigHeading span {
  font-size: 18px;
}

.mediumWeight {
  font-weight: 500;
}

p {
  line-height: 27px;
  color: #565656;
  margin-top: 0;
  margin-bottom: 20px;
}

.justified {
  text-align: justify;
}

.lightParagraph {
  font-weight: 300;
}

.lighterText {
  color: #828282;
}

.smallText {
  font-size: 13px;
}

.smallerText {
  font-size: 12px;
}

.bottomBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.lowRadius {
  border-radius: 8px;
}

.highRadius {
  border-radius: 25px;
}

.darkBorder {
  border: 1px solid #399edb;
}

.lightBorder {
  border: 1px solid #f0f5fc;
}

.bgLight {
  background-color: #f4f7fe;
}

button {
  font-family: danaweb !important;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #d4ddf8;
}
table th {
  text-align: right;
  border: 1px solid rgba(13, 84, 131, 0.1);
  padding: 12px;
}
table tr:nth-child(2n+1) {
  background-color: rgba(226, 229, 252, 0.3);
}
table td {
  font-size: 13.5px;
  padding: 8px 4px;
  font-weight: 400;
  border: 1px solid rgba(13, 84, 131, 0.1);
  padding: 15px 10px;
}
table td strong {
  font-weight: 600;
}

.mainView {
  max-width: 1280px;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1280px) {
  .mainView {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

a, a:visited {
  text-decoration: none;
  color: #001b4c;
}

li {
  list-style-type: none;
  margin: 7px 0;
  position: relative;
  padding-right: 12px;
}
li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #187dba;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
}

.darkListStyle::before {
  background-color: #205685;
}

.noListStyle {
  padding-right: 0;
}
.noListStyle::before {
  display: none;
}

.checkListStyle {
  padding-right: 20px;
}
.checkListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2340b819' width='14' height='14' viewBox='0 0 512 512'%3E%3Cpath d='M172.2 434.6a39.3 39.3 0 0 1-28.1-11.6L22.9 301.9a33.4 33.4 0 1 1 47.2-47.2l102.1 102.2L441.9 87.1a33.4 33.4 0 0 1 47.2 47.2L200.4 423a39.7 39.7 0 0 1-28.2 11.6Z'/%3E%3C/svg%3E");
  width: 14px;
  height: 14px;
  background-color: initial;
}

.crossListStyle {
  padding-right: 20px;
}
.crossListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b82819' width='12' height='12' viewBox='0 0 512 512'%3E%3Cpath d='M312.2 255.8 482 86a33.5 33.5 0 1 0-47.4-47.4L264.8 208.4 95 38.6a33.5 33.5 0 0 0-47.4 0 33.5 33.5 0 0 0 0 47.4l169.8 169.8L47.6 425.6a33.5 33.5 0 0 0 0 47.4 33.5 33.5 0 0 0 47.4 0l169.8-169.8L434.6 473a33.5 33.5 0 0 0 47.4 0 33.5 33.5 0 0 0 0-47.4Z'/%3E%3C/svg%3E");
  width: 12px;
  height: 17px;
  background-color: initial;
}

.arrowListStyle {
  padding-right: 22px;
}
.arrowListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23187dba' width='16' height='16' viewBox='0 0 512 512'%3E%3Cpath d='M256 493.4a237.3 237.3 0 1 1 167.9-69.5A236.2 236.2 0 0 1 256 493.4Zm0-424.8C152.7 68.6 68.6 152.7 68.6 256S152.7 443.4 256 443.4 443.4 359.3 443.4 256 359.3 68.6 256 68.6Zm-23.6 283.2a24.9 24.9 0 0 1-17.7-7.3l-70.8-70.8h-.1a.1.1 0 0 0-.1-.1h-.2a23.2 23.2 0 0 1-4.9-7.5h-.1a24.7 24.7 0 0 1-1.9-9.4 24.8 24.8 0 0 1 2-9.5h.1a21.3 21.3 0 0 1 2.3-4.2 19.5 19.5 0 0 1 1.7-2.3h.1a8 8 0 0 1 1.3-1.3l70.6-70.7a25 25 0 0 1 35.4 35.4L222 231h128.4a25 25 0 0 1 0 50H222l28.1 28.1a25.2 25.2 0 0 1 0 35.4 24.9 24.9 0 0 1-17.7 7.3Z'/%3E%3C/svg%3E");
  width: 16px;
  height: 19px;
  background-color: initial;
}

label {
  display: block;
  font-size: 13px;
  text-align: right;
  width: 100%;
}

input {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px 20px;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url] {
  border: none;
  background-color: #ebecf0;
  border-radius: 45px;
  color: #0B3152;
  font-size: 14px;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=url]:-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=url]::-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
input[type=checkbox] {
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}
input[type=submit] {
  background-color: #187dba;
  color: #fff;
  border: none;
  font-weight: 500;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 45px;
  font-size: 14px;
}
input[type=submit]:hover {
  background-color: #156ea3;
}
input:focus {
  outline: none;
}

textarea {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px 20px;
  resize: none;
  border-radius: 15px;
  background-color: #ebecf0;
  border: none;
  color: #0B3152;
  font-size: 14px;
  margin-right: -15px;
}
textarea::-webkit-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea:-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea::-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea:-ms-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea:focus {
  outline: none;
}

select {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #e2e5fc;
  font-family: danaweb;
  background-color: transparent;
}
select option {
  font-family: iranyekanfn;
}

.generalButton {
  background-color: #7fd1ae;
  border-radius: 45px;
  position: relative;
  color: #fff !important;
  padding: 8px 25px 8px 45px;
  font-size: 15px;
  display: block;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
.generalButton::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
}
.generalButton::after {
  content: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='%23197dbb' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg' transform='rotate(-90)'%3E%3Cpath d='M27.66 15.61 18 6l-9.66 9.61A1 1 0 1 0 9.75 17L17 9.81v19.13a1 1 0 1 0 2 0V9.81L26.25 17a1 1 0 0 0 1.41-1.42Z' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
  height: 17px;
  position: absolute;
  left: 19px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.generalButton:hover {
  background-color: #59c496;
}

.noArrowButton {
  padding: 8px 25px !important;
}
.noArrowButton::before {
  display: none;
}
.noArrowButton::after {
  display: none;
}

.outlineButton {
  background-color: transparent;
  color: #399edb !important;
  border: 1px solid #399edb;
}
.outlineButton:hover {
  background-color: #ddeef9;
}

.bgDarkButton {
  background-color: #187dba;
}
.bgDarkButton:hover {
  background-color: #156ea3 !important;
}

.siteMessage {
  position: relative;
  background-color: #FFF3CD;
  display: block;
  width: 100%;
  padding: 15px 45px 15px 15px;
  margin: 15px 0;
  border-radius: 7px;
}
.siteMessage::before {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.warningMessage {
  background-color: #FFF3CD;
  border: 1px solid rgba(81, 64, 11, 0.15);
  color: #51400B;
}
.warningMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%2351400B' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.143 13.577a1.857 1.857 0 1 1 3.715 0 1.857 1.857 0 0 1-3.715 0zm.181-11.153a1.681 1.681 0 1 1 3.345 0l-.651 6.515a1.026 1.026 0 0 1-2.043 0l-.65-6.515z'/%3E%3C/svg%3E");
}

.successMessage {
  background-color: #D1E7DD;
  border: 1px solid rgba(17, 70, 46, 0.15);
  color: #11462e;
}
.successMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%2311462E' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 236.988 236.988' style='enable-background:new 0 0 236.988 236.988' xml:space='preserve'%3E%3Cpath d='M194.953 28.046 88.766 134.234 42.035 87.504 4.681 124.859l84.085 84.083L232.307 65.401z'/%3E%3C/svg%3E");
}

.errorMessage {
  background-color: #F8D7DA;
  border: 1px solid rgba(93, 20, 26, 0.15);
  color: #5d141a;
}
.errorMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%235d141a' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath d='M61.403 10.997 53.003 2.597 32 23.6 10.997 2.597 2.597 10.997 23.6 32 2.597 53.003 10.997 61.403 32 40.4 53.003 61.403 61.403 53.003 40.4 32z'/%3E%3C/svg%3E");
}

.informMessage {
  background-color: #CFF4FC;
  border: 1px solid rgba(14, 65, 76, 0.15);
  color: #0e414c;
}
.informMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%230e414c' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.063 30.063' style='enable-background:new 0 0 30.063 30.063' xml:space='preserve'%3E%3Cpath d='m17.577 26.354 2.343.124v3.286h-9.778v-3.124l1.356-.123c.739-.084 1.191-.329 1.191-1.315V13.781c0-.908-.247-1.195-1.028-1.195l-1.437-.08V9.096h7.353v17.258zM14.703.299c1.808 0 3.124 1.359 3.124 3.083 0 1.728-1.315 3.001-3.165 3.001-1.889 0-3.124-1.275-3.124-3.001 0-1.725 1.235-3.083 3.165-3.083z'/%3E%3C/svg%3E");
}

.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
}

.hashtagParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainBoxBack {
  background-color: #197dbb;
}
.mainBoxBack p {
  color: #fff !important;
}

.darkBoxBack {
  background-color: #187dba;
}
.darkBoxBack p {
  color: #fff !important;
}

.lightBoxBack {
  background-color: #ebecf0;
}

.mainSingleProductContainer .productPartUp {
  background-color: #f4f7fe;
  padding: 30px 0;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .woocommerce-product-gallery {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .mainSingleProductContainer .productPartUp .mainSingleProductHeader .woocommerce-product-gallery {
    width: 100%;
  }
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .woocommerce-product-gallery img {
  border-radius: 7px !important;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .woocommerce-product-gallery .flex-control-thumbs {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .woocommerce-product-gallery .flex-control-thumbs li {
  margin: 0 !important;
  padding: 0 !important;
  width: 30%;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .woocommerce-product-gallery .flex-control-thumbs li::before {
  display: none;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .woocommerce-product-gallery .flex-control-thumbs li img {
  border-radius: 7px;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary {
  width: 55%;
}
@media screen and (max-width: 768px) {
  .mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .productInfoTabelContainer {
  width: 50%;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .productInfoTabelContainer {
    width: 100%;
  }
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .productInfoTabelContainer .productInfoTabel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #828282;
  padding: 10px 0;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .productInfoTabelContainer .productInfoTabel:last-child {
  border-bottom: none;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .productInfoTabelContainer .productInfoTabel .firstLevelOfProductInfo {
  width: 35%;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .productInfoTabelContainer .productInfoTabel .secondLevelOfProductInfo {
  width: 60%;
  text-align: left;
  position: relative;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .productInfoTabelContainer .productInfoTabel .secondLevelOfProductInfo::after {
  position: absolute;
  content: "";
  background-color: #828282;
  width: 1px;
  height: 15px;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .product_title {
  font-size: 25px;
  font-weight: 700;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .woocommerce-product-rating {
  margin-bottom: 15px;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .woocommerce-review-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #828282;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .woocommerce-review-link .ratingSinglePart {
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
  color: #828282;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .woocommerce-review-link .ratingSinglePart::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #929292;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .woocommerce-review-link .ratingSinglePart, .mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .woocommerce-review-link .commentSinglePart {
  display: flex;
  align-items: center;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .woocommerce-review-link .ratingSinglePart span, .mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .woocommerce-review-link .commentSinglePart span {
  display: block;
  color: #828282;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .price {
  margin-bottom: 15px;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .price .woocommerce-Price-amount bdi {
  color: #828282;
  font-size: 15px;
  font-weight: 600;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .woocommerce-product-details__short-description ul {
  padding: 0;
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .single_add_to_cart_button {
  background-color: #7fd1ae !important;
  border-radius: 30px !important;
  padding: 15px 20px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  transition: all 0.3s;
}
@media screen and (max-width: 480px) {
  .mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .single_add_to_cart_button {
    width: 100%;
  }
}
.mainSingleProductContainer .productPartUp .mainSingleProductHeader .entry-summary .single_add_to_cart_button:hover {
  background-color: #47bd8a !important;
}
.mainSingleProductContainer .productPartDown {
  padding: 30px 0;
}
.mainSingleProductContainer .productPartDown .woocommerce-tabs ul.tabs {
  border: none !important;
  text-align: center !important;
}
@media screen and (max-width: 768px) {
  .mainSingleProductContainer .productPartDown .woocommerce-tabs ul.tabs {
    padding: 0 !important;
    margin: 0 !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
  }
}
.mainSingleProductContainer .productPartDown .woocommerce-tabs ul.tabs::before {
  display: none !important;
}
.mainSingleProductContainer .productPartDown .woocommerce-tabs ul.tabs li {
  border: none !important;
  background-color: transparent !important;
  margin: 0 20px !important;
  position: relative;
}
@media screen and (max-width: 768px) {
  .mainSingleProductContainer .productPartDown .woocommerce-tabs ul.tabs li {
    margin: 0 !important;
  }
}
.mainSingleProductContainer .productPartDown .woocommerce-tabs ul.tabs li::after {
  position: absolute;
  content: "";
  width: 100% !important;
  height: 2px !important;
  background-color: #828282 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin-right: auto !important;
  margin-left: auto !important;
  border-bottom-right-radius: 0 !important;
  border-width: 0 !important;
  box-shadow: none !important;
}
.mainSingleProductContainer .productPartDown .woocommerce-tabs ul.tabs li::before {
  display: none !important;
}
.mainSingleProductContainer .productPartDown .woocommerce-tabs ul.tabs li a {
  color: #828282 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media screen and (max-width: 768px) {
  .mainSingleProductContainer .productPartDown .woocommerce-tabs ul.tabs li a {
    font-size: 12px !important;
  }
}
.mainSingleProductContainer .productPartDown .woocommerce-tabs ul.tabs li.active::after {
  background-color: #4698c8 !important;
}
.mainSingleProductContainer .productPartDown .woocommerce-tabs ul.tabs li.active a {
  color: #4698c8 !important;
}

.woocommerce-Reviews .woocommerce-Reviews-title {
  font-size: 20px;
}
.woocommerce-Reviews #comments {
  max-width: 900px;
  margin: auto;
}
.woocommerce-Reviews #comments .commentlist {
  padding: 0 !important;
}
.woocommerce-Reviews #comments .commentlist li {
  border: 1px solid #ebecf0 !important;
  padding: 10px !important;
  border-radius: 10px !important;
}
.woocommerce-Reviews #comments .commentlist li::before {
  display: none !important;
}
.woocommerce-Reviews #comments .commentlist li .comment_container img {
  display: none !important;
}
.woocommerce-Reviews #comments .commentlist li .comment_container .comment-text {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: flex-start !important;
}
.woocommerce-Reviews #comments .commentlist li .comment_container .comment-text .star-rating {
  order: 2 !important;
  display: flex !important;
  margin-left: 0 !important;
  margin-right: auto !important;
}
.woocommerce-Reviews #comments .commentlist li .comment_container .comment-text .meta {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: flex-start !important;
  align-items: center !important;
  width: 48% !important;
  order: 1 !important;
}
.woocommerce-Reviews #comments .commentlist li .comment_container .comment-text .description {
  width: 100% !important;
  order: 3 !important;
}
.woocommerce-Reviews #review_form_wrapper {
  padding: 20px;
  border-radius: 10px;
}
.woocommerce-Reviews #review_form_wrapper .comment-reply-title {
  display: block;
  margin: auto;
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #4696c7;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #0B3152;
}
.woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}
.woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .comment-notes {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .comment-notes {
    width: 100%;
  }
}
.woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .comment-form-rating {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .comment-form-rating {
    width: 100%;
  }
}
.woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .comment-form-author, .woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .comment-form-email {
  width: 48%;
}
@media screen and (max-width: 768px) {
  .woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .comment-form-author, .woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .comment-form-email {
    width: 100%;
  }
}
.woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .comment-form-comment {
  width: 100%;
}
.woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .comment-form-comment textarea {
  margin: 0 !important;
  height: 300px !important;
}
.woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .form-submit {
  width: 100%;
}
.woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .form-submit input {
  background-color: #197dbb !important;
  border-radius: 30px !important;
  padding: 20px 30px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  transition: all 0.3s;
  color: #fff !important;
  width: 100% !important;
}
.woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .form-submit input:hover {
  background-color: #135f8e;
}
.woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .comment-form-cookies-consent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.woocommerce-Reviews #review_form_wrapper .comment-respond .comment-form .comment-form-cookies-consent #wp-comment-cookies-consent {
  margin-left: 10px;
}/*# sourceMappingURL=additional.css.map */