@import 'sass/variables';
@import 'sass/breakpoints';
@import 'sass/source';

.mainHeaderBack{
    background-color: $backColorLight3;
    @include sm{
        display: none;
    }
    @include sm{
        background-color: #fff;
    }
    .mainHeader{
        display: flex;
        align-items: center;
        @include sm{
            flex-flow: row-reverse;
        }
        .logoSection{
            margin-left: 30px;
            @include sm{
                margin-left: 0px !important;
            }
            svg{
                @include sm{
                    height: 55px;
                    width: 75px;
                }
            }
        }
        .menuSection{
            @include sm{
                display: none;
            }
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                li{
                    &::before{
                        content: none;
                    }
                    a{
                        padding: 10px;
                    }
                }
            }
        }
        .headerIcon{
            margin-right: auto;
            display: flex;
            align-items: center;
            @include sm{
                margin: 0px 0px 0px auto;
            }
            .mobileMenuSection{
                display: none;
                @include sm{
                    display: flex !important;
                }
            }
            .searchIcon{
                width: 45px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                @include sm{
                    display: none;
                }
            }
        }
        a{
            display: flex;
            align-items: center;
            span{
                margin-left: 5px;
            }
        }
        .callNumberHeader{
            @include sm{
                display: none;
            }
        }
    }
}
.stickyHeaderParent{
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: -100px;
    transition: all 0.5s;
    z-index: 999;
    @include sm{
        display: none;
    }
    .mainHeaderBack{
        background-color: #fff;
        margin: 0;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.07);
        .mainHeader{
            .logoSection{
                svg{
                    height: 70px;
                    width: 90px;
                    @include xs{
                        height: 50px;
                        width: 70px;
                    }
                }
            }
        }
    }
}
.showStickyHeader{
    top: 0;
}
.introSectionBack{
    background-color: $backColorLight3;
    @include xs{
        padding-bottom: 50px;
    }
    .introSection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .introSectionDesc{
            width: 40%;
            @include xs{
                width: 100%;
                order: 2;
                text-align: center;
            }
            h1{
                @include xs{
                    font-size: 25px;
                }
                span{
                    font-size: 36px;
                    color: $textColorLight2;
                    font-weight: 800;
                    display: inline-block;
                    @include xs{
                        font-size: 25px;
                    }
                }
            }
            p{
                font-size: 17px;
                @include xs{
                    font-size: 14px;
                }
            }
            a{
                @include xs{
                    display: inline-block;
                }
            }
        }
        .introSectionImg{
            width: 45%;
            @include xs{
                width: 100%;
                order: 1;
            }
        }
    }
}
.mainFooterBack{
    background-color: #f4f7fe;
    padding: 50px 0;
    @include xs{
        font-size: 14px;
    }
    .mainFooter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: #565656;
        .footerColumn1{
            width: 35%;
            @include xs{
                width: 100%;
            }
            svg{
                height: 70px;
                margin: 15px 0;
            }
            p{
                text-align: justify;
                width: 80%;
                @include xs{
                    width: 100%;
                }
            }
        }
        .footerColumn2{
            width: max-content;
            li{
                margin: 10px 0;
                a{
                    color: #565656;
                    transition: all 0.4s;
                    &:hover{
                        color: #187dbb !important;
                    }
                }
            }
        }
        .footerColumn3{
            width: 25%;
            @include xs{
                width: 60%;
            }
            a{
                color: #565656;
                transition: all 0.4s;
                &:hover{
                    color: #187dbb !important;
                }
                p{
                    width: 80%;
                    @include xs{
                        width: auto;
                    }
                }
            }
            .contactFooter{
                li{
                    margin: 7px 0;
                    a{
                        color: #565656;
                        margin-right: 4px;
                        &:hover{
                            color: #187dbb !important;
                        }
                    }
                }
            }
        }
        .eNemadParent{
            margin: 20px 0 !important;
        }
        li{
            list-style-type: none;
            padding-right: 0px !important;
            &::before{
            content: none;
        }
        }
    }
}
.footerCopyrightBack{
    padding: 15px 0;
    .footerCopyright{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85%;
        @include xs{
            justify-content: center;
            width: auto;
        }
        p{
            margin: 0;
            font-size: 14px;
            font-weight: 300;
            @include xs{
                order: 2;
                font-size: 13px;
                text-align: center;
            }
        }
        .footerCopyrightIcons{
            display: flex;
            align-items: center;
            @include xs{
                order: 1;
                margin-bottom: 10px;
            }
            a{
                margin: 0 5px;
                display: block;
                svg{
                    display: block;
                }
            }
        }
    }
}
.counterNumbers{
    background-color: $backColorDark;
    position: relative;
    padding: 10px;
    @include xs{
        padding: 0;
    }
    img{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .counterNumbersInner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 150px;
        align-items: center;
        position: relative;
        .counterItem{
            color: #fff !important;
            .counterTitle{
                font-size: 18px;
                margin-top: 7px;
                text-align: center;
                @include xs{
                    font-size: 15px !important;
                }
            }
            .counterNumber{
                text-align: center;
                span{
                    font-size: 35px;
                    font-weight: 700;
                    line-height: 40px;
                    @include xs{
                        font-size: 26px !important;
                    }
                }
            }
        }
    }
}
.descProductSectionHomeBack{
    background-color: $backColorLight3;
    position: relative;
    .descProductSectionHome{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .descProductText{
            width: 35%;
            @include xs{
                width: 80%;
                text-align: center;
            }
            p{
                text-align: justify;
                @include xs{
                    font-size: 14px;
                }
            }
            a{
                @include xs{
                    display: inline-block;
                }
            }
        }
        .descProductImg{
            width: 35%;
            @include xs{
                width: 80%;
            }
        }
    }
    .differentSection{
        .descProductText{
            order: 2;
        }
        .descProductImg{
            order: 1;
        }
    }
}
.serviceSectionHomeBack{
    background-color: $backColorLight3;
    .serviceSectionHome{
        .serviceBoxParent{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            @include xs{
                margin: 60px 0px 0px 0px !important;
            }
            .serviceBoxs{
                width: 18%;
                text-align: center;
                padding: 10px 20px;
                @include xs{
                    width: 48%;
                }
                .iconPart{
                    width: 80px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    border-radius: 100%;
                    background-color: #fff;
                    @include xs{
                        width: 50px;
                        height: 50px;
                    }
                    svg{
                        height: 30px;
                        width: 30px;
                    }
                }
                span{
                    color: $textColorLowSat;
                    font-size: 14px;
                    @include xs{
                        font-size: 13px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
}
.aboutUsSectionHomeBack{
    background-color: $backColorLight3;
    .aboutUsSectionHome{
        .aboutUsSectionFlex{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            .aboutUsSections{
                width: 35%;
                flex-direction: column;
                display: flex;
                @include xs{
                    width: 100%;
                    font-size: 13px;
                }
                .aboutUsP{
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    .iconPart{
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // margin: auto;
                        border-radius: 100%;
                        background-color: #fff;
                    }
                    span{
                        color: $textColorLowSat;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}
.freeDemoSectionHomeBack{
    .freeDemoSectionHome{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .sectionRight{
            width: 40%;
            @include xs{
                width: 100%;
            }
            p{
                text-align: justify;
            }
        }
        .sectionLeft{
            width: 48%;
            @include xs{
                width: 100%;
            }
        }
    }
}
.blogPostSectionHomeBack{
    .blogPostSectionHome{
        // .blogPostHomeGrid{
        //     display: grid;
        //     grid-template-columns: repeat(4, 1fr);
        //     grid-template-rows: repeat(2, 1fr);
        //     grid-column-gap: 15px;
        //     grid-row-gap: 15px;
        //     a{
        //         display: block;
        //         overflow: hidden;
        //         img{
        //             display: block;
        //             width: 100%;
        //             height: 100%;
        //             object-fit: cover;
        //         }
        //     }
        //     .sectionOne{
        //         grid-area: 1 / 3 / 3 / 5;
        //         width: 600px;
        //         height: 600px;
        //     }
        //     .sectionTwo{ 
        //         grid-area: 1 / 2 / 2 / 3; 
        //         width: 300px;
        //         height: 300px;
        //     }
        //     .sectionThree{ 
        //         grid-area: 1 / 1 / 2 / 2; 
        //         width: 300px;
        //         height: 300px;
        //     }
        //     .sectionFour{ 
        //         grid-area: 2 / 1 / 3 / 3;
        //         width: 600px;
        //         height: 300px;
        //     }
        // }
        .blogPostHome{
            display: flex;
            justify-content: space-around;
            @include xs{
                flex-direction: column;
                margin: auto;
                width: 80%;
            }
            a{
                display: block;
            }
            .sectionOne{
                width: 48%;
                height: 710px;
                @include xs{
                    width: 100%;
                    height: 350px;
                    margin-bottom: 10px;
                }
                a{
                    overflow: hidden;
                    height: 100%;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .sectionTwo{
                width: 48%;
                display: flex;
                flex-direction: column;
                height: 710px;
                @include xs{
                    height: 350px;
                    width: 100%;
                }
                .sectionThreeFourP{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 12px;
                    @include xs{
                        margin-bottom: 0px;
                    }
                    .sectionThree , .sectionFour{
                        width: 48%;
                    }
                }
            }
        }
    }
}
.mobileMenuParent{
    padding: 5px 10px 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.6);
    display: none;
    @include sm{
        display: block !important;
    }
    .moileMenuHeader{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        .mobileMenuClickParent{
            #closeMenuMob{
                display: none;
            }
        }
    }
    .mainMenu{
        display: none;
        ul{
            padding: 0;
            li{
                padding-right: 10px;
                margin: 18px 0;
                font-weight: 500;
                &::before{
                    content: none;
                }
                a{
                    width: 100%;
                    padding: 10px 0px;
                }
            }
            .current-menu-item{
                a{
                    color: $mainColorDark !important;
                }
            }
        }
    }
}
.mainSiteOverlay{
    opacity: 0;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.productSwiperParent{
    padding: 0 50px;
    position: relative;
    // &::before{
    //     content: '';
    //     background: rgb(252 252 253);
    //     position: absolute;
    //     right: 50px;
    //     bottom: 0;
    //     top: 0;
    //     width: 110px;
    //     z-index: 9;
    // }
    // &::after{
    //     content: '';
    //     background: rgb(252 252 253);
    //     position: absolute;
    //     left: 50px;
    //     bottom: 0;
    //     top: 0;
    //     width: 110px;
    //     z-index: 9;
    // }
    .productsSwiper{
        padding: 30px 120px !important;
        position: unset;
        .swiper-slide{
            li{
                &::before{
                    content: none;
                }
            }
        }
    }
}
.productsSectionHomeBack{
    background-color: $backColorLight;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}
.swiper-slide img {
    display: block;
    // width: 100%;
    // height: 100%;
    object-fit: cover;
}
